# Ambiente virtual
.venv/
venv/

# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp

# Node / Tailwind
node_modules/
dist/
